<nav style="background: rgba(255,255,255,0.3)">
  <div class="nav-wrapper">
    <button class="waves-effect waves-light btn-large" id="backButton">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </div>
</nav>
