<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>강의실</th>
				<th>열린 시간</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>K302</td>
				<td>몇 분</td>
			</tr>
			<tr>
				<td>K302</td>
				<td>몇 분</td>
			</tr>
			<tr>
				<td>K302</td>
				<td>몇 분</td>
			</tr>
			<tr>
				<td>K302</td>
				<td>몇 분</td>
			</tr>
			<tr>
				<td>K302</td>
				<td>몇 분</td>
			</tr>
		</tbody>
	</table>
</div>
